streamlit
psycopg2-binary
SQLAlchemy
pandas
numpy
ipython
matplotlib
panns-inference
pedalboard 
streamlit-audiorecorder
audio-recorder-streamlit
librosa
torch
SQLAlchemy
scipy
transformers
datasets
tensorflow 
pedalboard
